<head>
	<meta charset="utf-8" />
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}

	{{- if isset .Site.Params "favicon" -}}
		<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

    <!-- TODO: include RSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo&family=Merriweather&display=swap" rel="stylesheet">


</head>
