<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}

	{{- if isset .Site.Params "favicon" -}}
		<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

    <!-- TODO: include RSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo&family=Merriweather&family=Roboto+Slab&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />


</head>
