html {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Merriweather", serif;
    font-weight: 500;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    align-items: flex-start;
}

.container {
    padding: 100px;
}

.post-description {
    font-size: 14px;
}

.content {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "KoHo";
}

.post {
    padding: 20px;
    border-bottom: solid 2px #dddddd;
}
.post a {
    color: black;
    text-decoration: none;
}
.post:hover {
    background-color: #eeeeee;
    color: #333333;
}

.post-title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.post-description {
    margin-bottom: 5px;
}

.post-info {
    display: flex;
    flex-direction: vertical;
    justify-content: space-between; 
    font-size: 12px;
    color: #888888;
}

.post-keywords {
    font-size: 10px;
}


.title {
    font-size: 35px;
    text-align: right;
}

.title:hover {
    cursor: pointer;
    color: #555555;
}

.icon-title {
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: flex-end;
}

.icon-title a {
    text-decoration: none;
    color: black;
}

.header {
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 150px;
}

.header-nav {
    border-top: solid 2px #dddddd;
    border-bottom: solid 2px #dddddd;
    padding: 15px;
    text-align: right;
}

.header-nav a {
    font-size: 18px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    display: block;    
    margin: 5px;
}

.header-nav a:hover {
    color: grey;
}


.icon {
    position: relative;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    border-radius: 50%;
}

.icon-circle {
    position: absolute;
    height: 8%;
    width: 8%;
    background-color: black;
    border-radius: 50%;
}

.icon-center-point {
    top: calc(50% - 2%);
    left: calc(50% - 3%);
}

.icon-bottom-point {
    top: calc(100% - 2%);
    left: calc(50% - 3%);
}

.icon-vertical-rule {
    position: absolute;
    top: 50%;
    right: calc(50% - 2%);
    background-color: black;
    width: 2px;
    height: 50%;
}

.social-bar {
    padding: 5px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    /* border-left: solid 2px #dddddd; */
    /* border-right: solid 2px #dddddd; */
}

.social-bar a {
    color: black;
    text-decoration: none;
}

.social-icon {
    margin: 3px;
    width: 20px;
}

.markdown blockquote {
    padding-left: 15px;
    font-size: 14px;
    border-left: solid 2px #dddddd;
}

.post-page-title {
    font-size: 32px;
}

.greek {
    font-family: "Roboto Slab", serif;
}

.dropdown {
    /* font-family: "KoHo", serif; */
    font-weight: 700;
    position: relative;
    margin: 15px;
    /* border-bottom: solid 2px #dddddd; */
}

.dropdown span {
    padding-bottom: 5px;
    /* border-left: solid 2px #dddddd; */
    display: block;
    text-align: center;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown ul {
    display: none;
    position: absolute;
}

.dropdown span:before {
    content: "~ ";
}

.dropdown:hover ul {
    display: block;
}

.dropdown:hover span {
    color: #666666;
}

.dropdown:hover span:before {
    content: "+ ";
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.dropdown ul {
    /* border-left: solid 2px #dddddd; */
    /* border-right: solid 2px #dddddd; */
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* padding: 6px 0px; */
    /* border-left: solid 2px #dddddd; */
    /* border-right: solid 2px #dddddd; */
    /* border: solid 2px #dddddd; */
}

.dropdown-item {
    /* width: 100%; */
    list-style-type: none;
    list-style: none;
    padding: 5px 10px;
    /* text-align: right; */
    /* background-color: #ffffff99; */
    background-color: #fafafa;
}

.dropdown li:hover {
    color: #444444;
    background-color: #eeeeee;
}

.dropdown li::before {
    content: "";
}

.header-lang-tags {
    margin: 10px 15px;
    margin-top: 0px;
}

.tags {
    display: flex;
    flex-direction: horizontal;
    justify-content: right;
}

.tags a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #444444;
    border: solid 2px #dddddd;
    padding: 1px 4px;
    margin-left: 5px;
    border-radius: 5px;
}

.tags a:hover, .active-tag {
    color: black !important;
    border-color: #aaaaaa !important;
}

.active-tag:hover {
    color: #444444;
    border: solid 2px #dddddd;
}


/* TODO: collapse title to top when media is small enough. */
