html {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Merriweather", serif;
    font-weight: 500;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    align-items: flex-start;
}

.container {
    padding: 50px;
}

.post-description {
    font-size: 14px;
}

.content {
    width: calc(100% - 250px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "KoHo";
    text-align: left;
}

.post {
    padding: 20px;
    border-bottom: solid 2px #dddddd;
}
.post a {
    color: black;
    text-decoration: none;
}
.post:hover {
    background-color: #eeeeee;
    color: #333333;
}

.post-title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.post-description {
    margin-bottom: 5px;
}

.post-info {
    display: flex;
    flex-direction: vertical;
    justify-content: space-between; 
    font-size: 12px;
    color: #888888;
}

.post-keywords {
    font-size: 10px;
}


.title {
    font-size: 35px;
    text-align: right;
    margin: 15px 0px;
}

.title:hover {
    cursor: pointer;
    color: #555555;
}

.icon-title {
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: flex-end;
    padding-right: 15px;
    padding-bottom: 15px;
}

.icon-title a {
    text-decoration: none;
    color: black;
}

.header {
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 250px;
    box-sizing: border-box;
}

.header-nav {
    border-top: solid 2px #dddddd;
    border-bottom: solid 2px #dddddd;
    padding: 15px;
    text-align: right;
    display: block;
}

.header-nav a {
    font-size: 18px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    display: block;    
    padding: 5px;
}

.header-nav a:hover {
    color: grey;
}


.icon {
    position: relative;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    border-radius: 50%;
}

.icon-circle {
    position: absolute;
    height: 8%;
    width: 8%;
    background-color: black;
    border-radius: 50%;
}

.icon-center-point {
    top: calc(50% - 2%);
    left: calc(50% - 3%);
}

.icon-bottom-point {
    top: calc(100% - 2%);
    left: calc(50% - 3%);
}

.icon-vertical-rule {
    position: absolute;
    top: 50%;
    right: calc(50% - 2%);
    background-color: black;
    width: 2px;
    height: 50%;
}

.social-bar {
    padding: 5px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    /* border-left: solid 2px #dddddd; */
    /* border-right: solid 2px #dddddd; */
}

.social-bar a {
    color: black;
    text-decoration: none;
}

.social-icon {
    margin: 3px;
    width: 20px;
}

.markdown {
    box-sizing: border-box;
}

.markdown blockquote {
    padding-left: 15px;
    font-size: 14px;
    border-left: solid 2px #dddddd;
    box-sizing: border-box;
}

.markdown p img {
    width: 100%;
}

.profile-picture {
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 50%;
    padding: 0px 30px;
}

.post-page-title {
    font-size: 32px;
}

.greek {
    font-family: "Roboto Slab", serif;
}

.dropdown {
    /* font-family: "KoHo", serif; */
    font-weight: 700;
    position: relative;
    margin: 15px;
    /* border-bottom: solid 2px #dddddd; */
}

.dropdown span {
    padding-bottom: 5px;
    /* border-left: solid 2px #dddddd; */
    display: block;
    text-align: center;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown ul {
    display: none;
    position: absolute;
}

.dropdown span:before {
    content: "~ ";
}

.dropdown:hover ul {
    display: block;
}

.dropdown:hover span {
    color: #666666;
}

.dropdown:hover span:before {
    content: "+ ";
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.dropdown ul {
    /* border-left: solid 2px #dddddd; */
    /* border-right: solid 2px #dddddd; */
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* padding: 6px 0px; */
    /* border-left: solid 2px #dddddd; */
    /* border-right: solid 2px #dddddd; */
    /* border: solid 2px #dddddd; */
}

.dropdown-item {
    /* width: 100%; */
    list-style-type: none;
    list-style: none;
    padding: 5px 10px;
    /* text-align: right; */
    /* background-color: #ffffff99; */
    background-color: #fafafa;
}

.dropdown li:hover {
    color: #444444;
    background-color: #eeeeee;
}

.dropdown li::before {
    content: "";
}


.tags {
    display: flex;
    flex-direction: horizontal;
}

.tags a {
    font-weight: bold;
    text-decoration: none;
    color: #444444;
    padding: 1px 4px;
    margin-left: 5px;
    border-radius: 5px;
}

.lang-tag {
    border: solid 2px #dddddd;
}

.lang-tags {
    font-size: 12px;
    justify-content: right;
}

.post-keywords {
    /* padding: 8px 0px; */
    justify-content: right;
}

.post-tag {
    border: solid 1px #dddddd;
}

.post-keywords a:first-child {
    margin: 0px;
}

.tags a:hover, .active-tag {
    color: black !important;
    border-color: #aaaaaa !important;
    cursor: pointer;
}

.active-tag:hover {
    color: #444444;
    border: solid 2px #dddddd;
}

.header-nav-spacer {
    display: none;
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0px 5px; 
}

.markdown pre {
    border-radius: 5px;
    padding: 10px 12px;
    background-color: #141204;
    color: white;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}

.markdown code:not([class^="language"]) {
    background-color: #F5F6F4;
    padding: 0px 4px;
    border: solid 1px #AAADC577;
    border-radius: 5px;
}

.header-nav span.header-nav-spacer:first-child {
    display: none;
}


@media screen and (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
    }

    .header {
        max-width: none;
        width: 100%;
        padding: 0px;
    }

    .content {
        width: 100%;
    }

    .header-lang-tags {
        /* display: none; */
        margin: 0px;
        margin-top: auto;
    }

    .icon-title {
        flex-direction: row;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        margin: 0px;
        /* margin-left: 30px; */
        text-align: left;
        /* margin-bottom: 0px; */
    }

    .icon-title .icon {
        width: 75px;
        height: 75px;
        margin-right: 30px;
        display: none;
    }

    .header-nav {
        display: flex;
        padding: 5px 15px;
        align-items: center;
    }

    .header-nav-spacer {
        display: block;
    }
}

@media screen and (max-width: 610px) {
    .icon {
        display: none;
    }
    .container {
        padding: 10vw;
    }
}
